@import '../../styles/global';

.transition-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 

  &.start-game{
    display:flex;
    flex-direction: column;
  }
}

.transition-text {
  font-size: 30px; 
  color: whitesmoke; 
  animation: fade 1s ease-in-out infinite;

  @media (max-width: 800px) {
    font-size: medium;
  }
}

@keyframes fade {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
