@import "../../styles/global";

#main-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/bg4.svg");
  justify-content: center;
  font-family: $primary-font;
  padding-bottom: 10px;

  h1 {
    font-size: 50px;
    margin-top: 0;
  }

  #left-info-display {
    color: whitesmoke;
    position: fixed;
    top: 30px;
    left: 30px;
    padding: 0;

    #currentUser-display {
      margin: 0;
    }
    #sessionId-display {
      margin: 0;
    }

    @media (max-width: 800px) {
      font-size: x-small;
      width: 30%;
      top: 5px;
      left: 5px;
    }
  }

  #leaderboard-button {
    position: fixed;
    right: 30px;
    top: 30px;
    background-color: $theme-color-purple;

    @media (max-width: 800px) {
      font-size: x-small;
      padding: 5px;
      margin: 0;
      top: 5px;
      right: 5px;
    }
  }

  #game-list-container {
    display: grid;
    justify-items: center;
    background-color: rgba(184, 184, 231, 0.566);
    width: 60vw;
    height: 80vh;
    position: relative;
    font-family: "Raleway";
    border: solid 8px $border-color-gray;

    @media (max-width: 800px) {
      width: 90vw;
    }

    #available-games-header {
      @media only screen and (max-width: 800px) {
        width: 100%;
        text-align: left;
        margin-left: 20px;

        #game-list-header {
          width: 70%;
          font-size: large;
        }
      }

      #game-list-header {
        margin: 15px 0 15px;
        font-family: $pixel-font;
        color: rgb(246, 246, 249);
        overflow-wrap: break-word;
      }
    }

    button {
      height: min-content;
      padding: 10px;
      border: solid 5px whitesmoke;
      border-radius: 8px;
      background-color: rgba(37, 61, 245, 0.824);
      color: whitesmoke;
      font-family: $pixel-font;

      @media (max-width: 800px) {
        font-size: x-small;
        padding: 5px;
      }
    }

    #refresh-button {
      position: absolute;
      right: 0;
      top:10px;

    }

    .game-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 60vh;
      width: 50vw;
      overflow-y: auto;
      background-color: rgba(184, 184, 231, 0.566);
      border: solid 5px $border-color-gray;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: center;

      @media (max-width: 800px) {
        width: 85vw;
      }

      .game-list-description {
        margin: 50px 0;
      }

      .game-item {
        border: solid 3px $button-color-blue;
        border-radius: 5px;
        height: 155px;
        min-height: min-content;
        padding: 20px;
        margin: 1rem 0.5rem 0;
        position: relative;
        background-color: $bg-color-gray;
        color: $theme-color-dark;
        width: calc(40% - 10px);

        @media (max-width: 1200px) {
          width: 100%;
        }

        p {
          margin: 0;
        }

        .game-item-description {
          color: $theme-color-purple;
        }

        button {
          position: absolute;
          right: 10px;
          bottom: 10px;
          background-color: $theme-color-purple;
          padding: 0 8px;
        }

        .game-item-name {
          text-align: center;
          font-family: $pixel-font;
          margin: 0 0 8px 0;
          background-color: whitesmoke;
          color: $theme-color-dark;
          border-radius: 5px;
          box-shadow: 0 0 20px rgba(160, 159, 159, 0.658);
        }

        .join-input-form {
          display: flex;
          justify-content: center;

          input {
            width: 50%;
          }
        }
      }
    }

    #create-room-form {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    }
    button {
      margin: 0 10px 10px;
    }
    input {
      width: 25%;
      margin-bottom: 10px;
    }
  }

  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  #game-list-container {
    width: 90vw;
  }
}
